/* second container */
.today-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(110px);
    margin-bottom: 150px;
}

.today-product-center {
    width: 80%;
}

/* button */
.today-product-view-all-product {
    font-size: 12px;
    padding: 14px 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #DB4444;
    color: #ffffff;
    position: absolute;
    right: 45%;
    text-align: center;
    bottom: 60px;
}

hr {
    width: 100%;
    margin: 160px 0px 0px;
    border-bottom: 0px solid #B3B3B3;
}