

.user-singin-container {
    width: 100%;
    height: 90vh;
    padding: 60px 145px 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-singin-container img{
    width: 65%;
    height: 100%;
}

.user-signin {
    width: 371px;
    height: auto;
}